<html>

<head>
	<title>My first three.js app</title>
	<style>
		body {
			margin: 0;
		}

		canvas {
			display: block;
		}
	</style>
</head>

<body>
	{{Hola}}
	<canvas width="900px" height="600px" id="the_canvas"></canvas>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="http://threejs.org/build/three.min.js"></script>	
	<script src="ejemplo.js"></script>
</body>

</html>